fastapi
uvicorn
requests
beautifulsoup4
pdfminer.six
pymupdf
torch
transformers
langchain
langchain-community
pymongo
python-dotenv
faiss-cpu
pydantic
pytest
python-multipart
scikit-learn
scipy
numpy
rouge
openai==0.28.0